*{
    margin: 0;
    padding: 0;
}

.myVideo{

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    filter: blur(20px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  
}

.pic{
    width: 80vh;
    margin-left: 890px;
    margin-top: 92px;

}

.pic:hover {
    filter: drop-shadow(0 0 1rem rgb(255, 51, 0));

}

.main-btn{
    background-color: lightblue;

  
    margin: 4px 2px;
    cursor: pointer;
    
}

.main-btn:hover{
    background-color: white;
}


img:hover{
    color: aqua;
}
section{
    padding: 5% 10%;
}

.main-home{
 
margin-top: -500px;
}

.main-text h5{
color: #EE1C47;
font-size: 16px;
text-transform: capitalize;
font-weight: 500;
}

.main-text h1{
    color: #fff;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(7) infinite alternate,
        blink 600ms steps(7) infinite normal;
    border-right: 5px solid black;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
}

nav{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    text-decoration-color: aqua;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}



